<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank</title>
</head>
<body>
    <script type="module" src="../public/makerank/app.js?score=<%=score%>"></script>
    <form method="post" action="/rank" id="form">
        <input type="hidden"  id = "score" name="score">
        <input type="hidden"  id = "id" name="id">
        <input type="hidden"  id = "pw" name="pw">
        <input type="hidden"  id = "cm" name="cm">
    </form>
</body>
</html>