<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank</title>
</head>
<body>
    <% rows.forEach( (a) => { %>
        <h3 onclick="location.href = '/user/<%= a.id %>'""> <%= a.id %> <%= a.score %> <%= a.comment %> </h3>
    <% }) %>
</body>
</html>